@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: Degular;
  src: url("/degular-font/Degular-Regular.otf") format("opentype");
}

@font-face {
  font-family: Degular;
  font-weight: bold;
  src: url("/degular-font/Degular-Bold.otf") format("opentype");
}

@font-face {
  font-family: Degular;
  font-weight: 500;
  src: url("/degular-font/Degular-Medium.otf") format("opentype");
}

$font-family-sans-serif: "IBM Plex Sans Condensed", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$body-color: #342E51;
$primary: #6C2DB6;
$link-decoration: none !default;
$border-radius: 0;
$input-border-radius: 0;
$input-border-radius-lg: 0;

$light: #F6F6F6;
$input-font-size-lg: 1.5rem;
$input-disabled-bg: $light;
$input-disabled-color: var(--bs-secondary-color);
$small-font-size: .80em;

@import "../../node_modules/bootstrap/scss/bootstrap";

#main {
  background: linear-gradient(#FFFFFF, #E7EBF7) !important;
  padding-bottom: 1px; // there seems to be a chrome bug. Without padding, the background does not render on the margins
}

// Ripple effect styles
.btn-ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }

  &:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
  }
}

// Apply ripple effect to Bootstrap primary buttons
.btn-primary {
  @extend .btn-ripple;
}

// Apply ripple effect to all Bootstrap buttons
.btn {
  @extend .btn-ripple;
}

.support-widget {
  color: white;
  background: linear-gradient(#6C2DB8, #4D73D8);
  text-align: center;
  padding: 3rem 2rem 3rem 2rem;
  font-family: "Degular", sans-serif !important;

  a {
    color: white;
    text-decoration: underline;
  }
}

.content {
  background-color: white;
  border-radius: 1rem;
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 600px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 40px;
  @include media-breakpoint-down(sm) {
    padding: 20px;
  }

  h3 {
    text-transform: uppercase;
    @extend .pb-4;
  }
}

.nav-link {
  font-family: "Degular", sans-serif !important;
  color: rgba(52, 46, 81, 1) !important;
  font-size: 1.1rem;
  font-weight: 500;
}

footer {
  background-color: #E7EBF7;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  font-family: "Degular", sans-serif !important;
  color: #201C32 !important;
  min-height: 200px !important;
  padding: 75px 0 75px 0;
  @extend .gap-4;

  > div {
    max-width: 392px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;

    > div {
      max-width: none;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
}

.form-control {
  background-color: $light;
  border: none;
}

textarea {
  @extend .fs-6;

  &::placeholder {
    text-align: center;
    padding-top: 50px;
  }

  &:focus {
    background-color: $light !important;
    box-shadow: none !important;
  }
}

@mixin button-like {
  padding: 9px;
  text-transform: uppercase;
  font-weight: $font-weight-semibold !important;
  text-align: center;
  @extend .w-100;
}

.btn {
  @include button-like;
}

.narrow-container {
  max-width: 600px;

  .action-link {
    @include button-like;
    color: $primary;
    background-color: transparent;
  }
}

.wide-container {
  .btn {
    width: auto !important;
  }
}

.inline-input {
  padding: 0 !important;
  min-height: auto;
}

input {
  &:focus {
    background-color: $light !important;
    box-shadow: none !important;
  }
}

.swap-details-table {
  tbody > tr:last-child {
    border-bottom-width: 2px;
  }

  tr {
    padding-top: 3rem;
  }

  th {
    word-break: keep-all;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.swap-history-table {
  tr {
    padding-top: 3rem;
  }

  th {
    word-break: keep-all;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $primary-bg-subtle;
  }
}

#faq {
  font-family: "Degular", sans-serif !important;
}

.faq-item {
  border-width: 0.5px 0 0 0;
  border-style: solid;
  border-color: $body-color;
  @extend .p-3;
}

.faq-item:last-of-type {
  border-bottom: 0.5px;
  border-style: solid;
  border-color: $body-color;
}