@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: Degular;
  src: url("assets/degular-font/Degular-Regular.otf") format("opentype");
}

@font-face {
  font-family: Degular;
  font-weight: bold;
  src: url("assets/degular-font/Degular-Bold.otf") format("opentype");
}

@font-face {
  font-family: Degular;
  font-weight: 500;
  src: url("assets/degular-font/Degular-Medium.otf") format("opentype");
}

$font-family-sans-serif: "IBM Plex Sans Condensed", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$primary: #6C2DB6;
$link-decoration: none !default;
$border-radius: 0;
$input-border-radius: 0;
$input-border-radius-lg: 0;

$light: #F6F6F6;
$input-font-size-lg: 1.5rem;
$input-disabled-bg: $light;
$input-disabled-color: var(--bs-secondary-color);

@import "../../node_modules/bootstrap/scss/bootstrap";

#main {
  background-image: url("assets/swap-background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.content {
  background-color: white;
  padding: 40px;
  border-radius: 1rem;
  margin-top: 60px;
  min-height: 60vh;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-link {
  font-family: "Degular", sans-serif !important;
  color: rgba(52, 46, 81, 1) !important;
  font-size: 1.1rem;
  font-weight: 500;
}

footer {
  font-family: "Degular", sans-serif !important;
  color: rgba(52, 46, 81, 1) !important;
  min-height: 200px !important;
  background: linear-gradient(rgba(231, 235, 247, 1), rgba(255, 255, 255, 1)) !important;
}

h3 {
  text-transform: uppercase;
  @extend .pb-4;
}

.form-control {
  background-color: $light;
  border: none;
}

textarea {
  @extend .fs-6;

  &::placeholder {
    text-align: center;
    padding-top: 50px;
  }

  &:focus {
    background-color: $light !important;
    box-shadow: none !important;
  }
}

.btn {
  padding: 9px;
  text-transform: uppercase;
  font-weight: $font-weight-semibold !important;
  @extend .w-100;
}

.inline-input {
  padding: 0 !important;
  min-height: auto;
}

input {
  &:focus {
    background-color: $light !important;
    box-shadow: none !important;
  }
}

.swap-details-table {
  tbody > tr:last-child {
    border-bottom-width: 2px;
  }

  tr {
    padding-top: 3rem;
  }

  th {
    word-break: keep-all;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.swap-history-table {
  tr {
    padding-top: 3rem;
  }

  th {
    word-break: keep-all;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $primary-bg-subtle;
  }
}
